@font-face {
    font-family: 'iconfont';  /* project id 793641 */
    src: url('//at.alicdn.com/t/font_793641_6xkoy5ahtff.ttf') format('truetype');
  }

[class^='icon-'], .iconfont {
    font-family: "iconfont" !important;
    font-size: 32rpx;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-triangle:before { content: "\e651"; }

.icon-back:before { content: "\e740"; }

.icon-close:before { content: "\e742"; }

.icon-comments:before { content: "\e75a"; }

.icon-introduction-series:before { content: "\e75d"; }

.icon-bright-spot:before { content: "\e75e"; }

.icon-arrow:before { content: "\e75f"; }

.icon-star:before { content: "\e769"; }

.icon-name:before { content: "\e602"; }

.icon-phone:before { content: "\e76b"; }

.icon-right-arrows:before { content: "\e605"; }

.icon-time:before { content: "\e606"; }

.icon-box:before { content: "\e607"; }

.icon-mermber:before { content: "\e608"; }

.icon-home:before { content: "\e76a"; }

.icon-refresh:before { content: "\e76c"; }

.icon-portrait:before { content: "\e76d"; }

.icon-study-bar:before { content: "\e76e"; }

.icon-details:before { content: "\e76f"; }

.icon-course:before { content: "\e60a"; }

.icon-list:before { content: "\e770"; }

.icon-complete:before { content: "\e766"; }

.icon-correctly:before { content: "\e767"; }

.icon-04006:before { content: "\e768"; }

.icon-04004:before { content: "\e771"; }

.icon-04005:before { content: "\e772"; }

.icon-04001:before { content: "\e773"; }

.icon-04002:before { content: "\e774"; }

.icon-04003:before { content: "\e775"; }

.icon-setting:before { content: "\e60f"; }

.icon-praise:before { content: "\e611"; }

.icon-comment:before { content: "\e612"; }

.icon-back-close:before { content: "\e776"; }

.icon-no-discuss:before { content: "\e777"; }

.icon-add:before { content: "\e613"; }

.icon-toast:before { content: "\e778"; }

.icon-question:before { content: "\e614"; }

.icon-share:before { content: "\e615"; }

.icon-up-arrow:before { content: "\e616"; }

.icon-not-star:before { content: "\e617"; }

.icon-selete-star:before { content: "\e618"; }

.icon-right-arrow:before { content: "\e619"; }

.icon-down-arrow:before { content: "\e61a"; }

.icon-job-skills:before { content: "\e779"; }

.icon-work-template:before { content: "\e77a"; }

.icon-community:before { content: "\e77b"; }

.icon-next:before { content: "\e77c"; }

.icon-app-icon:before { content: "\e77d"; }

.icon-dimensional-right:before { content: "\e77e"; }

.icon-dimensional-top:before { content: "\e77f"; }

.icon-dimensional-left:before { content: "\e780"; }

.icon-finish-lish:before { content: "\e61c"; }

.icon-edit:before { content: "\e61d"; }

.icon-link:before { content: "\e61e"; }

.icon-comment1:before { content: "\e61f"; }

.icon-vote:before { content: "\e620"; }

.icon-subscribe:before { content: "\e781"; }

.icon-has-subscribe:before { content: "\e782"; }

.icon-department:before { content: "\e621"; }

.icon-message:before { content: "\e622"; }

.icon-down:before { content: "\e783"; }

.icon-clock:before { content: "\e784"; }

.icon-fallback:before { content: "\e785"; }

.icon-disabled:before { content: "\e786"; }

.icon-selected:before { content: "\e787"; }

.icon-selectable:before { content: "\e788"; }