node_modules
dist
.tmp
test
.editorconfig
.git
.wepycache
.eslintignore
.wepyignore
.git-credentials
web
.DS_Store
.eslintrc.js
.npmignore
.yarn-error.log
yarn.lock
.gitignore.swp
._*
*.log
/.vscode/settings.json
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

